<div *ngIf="availableDevices">
    <mat-form-field>
        <mat-select
          placeholder="Select a camera"
          [value]="selectedDevice.deviceId"
          (selectionChange)="onDeviceSelectChange($event)">
            <mat-option *ngFor="let device of availableDevices"
              [value]="device.deviceId"
              >
              {{device.label}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div [hidden]="!hasCameras">
  <zxing-scanner #scanner class="test-class" start="true" [device]="selectedDevice" (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>
</div>

<div *ngIf="qrResultString">
    <h4>Last Detected QR Data:</h4>
    <h5>{{qrResultString}}</h5>
</div>