<agm-map *ngIf="coordinates !== undefined"
  [latitude]="coordinates.latitude"
  [longitude]="coordinates.longitude"
  [zoom]="15"
  (mapClick)="onMapClick($event)"
  >
  <agm-marker *ngIf="coordinates !== undefined"
    [latitude]="coordinates.latitude"
    [longitude]="coordinates.longitude"
    [iconUrl]="{url: '/assets/images/me.ico'}"
    [markerClickable]="true"
    [markerDraggable]="true"
    (dragEnd)="onMarkerDragEnd($event)"
    (markerClick)="onMarkerClick()">
  </agm-marker>
  <agm-marker *ngFor="let marker of userMarkers"
    [latitude]="marker.latitude"
    [longitude]="marker.longitude"
    [label]="{text: marker.name, color: '#80ffdc', fontSize: '20px'}"
    [iconUrl]="{url: '/assets/images/placeholder_1.ico'}"
    [markerDraggable]="true"
    [markerClickable]="true"
    (dragEnd)="onUserMarkerDragEnd($event, marker)"
    (markerClick)="onUserMarkerClick(marker)">
  </agm-marker>
</agm-map>